.record-pulse {
    animation: pulse-animation 1.5s infinite;
    transform: scale(1)
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.80);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.80);
    }
}